In [ ]:
import numpy as np
import pandas as pd

In [ ]:
dataset_df=pd.read_csv("dataset.csv")

In [ ]:
dataset_df

,Customer ID,Purchase_Date,Product_Category,ProductPrice,Quantity,Purchase_Amount,Payment_Method,Customer_Name,Age,Gender,Income
0,44605,03-05-2023,Home,177,1,2427,PayPal,John Rivera,31,Female,1000000
1,44605,16-05-2021,Electronics,174,3,2448,PayPal,John Rivera,31,Female,150000
2,44605,13-07-2020,Books,413,1,2345,Credit Card,John Rivera,31,Female,150000
3,44605,17-01-2023,Electronics,396,3,937,Cash,John Rivera,31,Female,475000
4,44605,01-05-2021,Books,259,4,2598,PayPal,John Rivera,31,Female,500000
...,...,...,...,...,...,...,...,...,...,...,...
55916,4628,27-01-2023,Books,479,5,3388,Credit Card,Karen Gonzalez,59,Male,200000
55917,4628,12-03-2021,Electronics,359,2,553,Credit Card,Karen Gonzalez,59,Male,150000
55918,4628,05-09-2020,Clothing,447,4,1161,PayPal,Karen Gonzalez,59,Male,575000
55919,4628,14-08-2023,Electronics,125,4,2077,Credit Card,Karen Gonzalez,59,Male,1235000
55920,4628,03-01-2022,Books,327,1,807,PayPal,Karen Gonzalez,59,Male,1

In [ ]:
dataset_df.shape

(55921, 11)

In [ ]:
dataset_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55921 entries, 0 to 55920
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Customer ID       55921 non-null  int64
 1   Purchase_Date     55921 non-null  object
 2   Product_Category  55921 non-null  object
 3   ProductPrice      55921 non-null  int64
 4   Quantity          55921 non-null  int64
 5   Purchase_Amount   55921 non-null  int64
 6   Payment_Method    55921 non-null  object
 7   Customer_Name     55921 non-null  object
 8   Age               55921 non-null  int64
 9   Gender            55921 non-null  object
 10  Income            55921 non-null  int64
dtypes: int64(6), object(5)
memory usage: 4.7+ MB

In [ ]:
dataset=dataset_df

In [ ]:
dataset

,Customer ID,Purchase_Date,Product_Category,ProductPrice,Quantity,Purchase_Amount,Payment_Method,Customer_Name,Age,Gender,Income
0,44605,03-05-2023,Home,177,1,2427,PayPal,John Rivera,31,Female,1000000
1,44605,16-05-2021,Electronics,174,3,2448,PayPal,John Rivera,31,Female,150000
2,44605,13-07-2020,Books,413,1,2345,Credit Card,John Rivera,31,Female,150000
3,44605,17-01-2023,Electronics,396,3,937,Cash,John Rivera,31,Female,475000
4,44605,01-05-2021,Books,259,4,2598,PayPal,John Rivera,31,Female,500000
...,...,...,...,...,...,...,...,...,...,...,...
55916,4628,27-01-2023,Books,479,5,3388,Credit Card,Karen Gonzalez,59,Male,200000
55917,4628,12-03-2021,Electronics,359,2,553,Credit Card,Karen Gonzalez,59,Male,150000
55918,4628,05-09-2020,Clothing,447,4,1161,PayPal,Karen Gonzalez,59,Male,575000
55919,4628,14-08-2023,Electronics,125,4,2077,Credit Card,Karen Gonzalez,59,Male,1235000
55920,4628,03-01-2022,Books,327,1,807,PayPal,Karen Gonzalez,59,Male,1

In [ ]:
dataset['tags']=str(dataset_df['Customer ID'])+str(dataset_df['Purchase_Date'])+str(dataset_df['ProductPrice'])+str(dataset_df['Quantity'])+str(dataset_df['Payment_Method'])+str(dataset_df['Age'])+str(dataset_df['Gender'])+str(dataset_df['Income'])

In [ ]:
newdata_df=dataset[['Customer ID','Product_Category','tags']]

In [ ]:
newdata_df['tags']=newdata_df['tags'].apply(lambda x:' '.join(x))

<ipython-input-12-50d67e99fe54>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdata_df['tags']=newdata_df['tags'].apply(lambda x:' '.join(x))

In [ ]:
newdata_df['tags'][0]

'0                 4 4 6 0 5 \n 1                 4 4 6 0 5 \n 2                 4 4 6 0 5 \n 3                 4 4 6 0 5 \n 4                 4 4 6 0 5 \n                   . . .     \n 5 5 9 1 6           4 6 2 8 \n 5 5 9 1 7           4 6 2 8 \n 5 5 9 1 8           4 6 2 8 \n 5 5 9 1 9           4 6 2 8 \n 5 5 9 2 0           4 6 2 8 \n N a m e :   C u s t o m e r   I D ,   L e n g t h :   5 5 9 2 1 ,   d t y p e :   i n t 6 4 0                 0 3 - 0 5 - 2 0 2 3 \n 1                 1 6 - 0 5 - 2 0 2 1 \n 2                 1 3 - 0 7 - 2 0 2 0 \n 3                 1 7 - 0 1 - 2 0 2 3 \n 4                 0 1 - 0 5 - 2 0 2 1 \n                         . . .         \n 5 5 9 1 6         2 7 - 0 1 - 2 0 2 3 \n 5 5 9 1 7         1 2 - 0 3 - 2 0 2 1 \n 5 5 9 1 8         0 5 - 0 9 - 2 0 2 0 \n 5 5 9 1 9         1 4 - 0 8 - 2 0 2 3 \n 5 5 9 2 0         0 3 - 0 1 - 2 0 2 2 \n N a m e :   P u r c h a s e _ D a t e ,   L e n g t h :   5 5 9 2 1 ,   d t y p e :   o b j e c t 0                 1 7 7 \n 1                 1 7 4 \n 2                 4 1 3 \n 3                 3 9 6 \n 4                 2 5 9 \n                 . . .   \n 5 5 9 1 6         4 7 9 \n 5 5 9 1 7         3 5 9 \n 5 5 9 1 8         4 4 7 \n 5 5 9 1 9         1 2 5 \n 5 5 9 2 0         3 2 7 \n N a m e :   P r o d u c t P r i c e ,   L e n g t h :   5 5 9 2 1 ,   d t y p e :   i n t 6 4 0                 1 \n 1                 3 \n 2                 1 \n 3                 3 \n 4                 4 \n                 . . \n 5 5 9 1 6         5 \n 5 5 9 1 7         2 \n 5 5 9 1 8         4 \n 5 5 9 1 9         4 \n 5 5 9 2 0         1 \n N a m e :   Q u a n t i t y ,   L e n g t h :   5 5 9 2 1 ,   d t y p e :   i n t 6 4 0                           P a y P a l \n 1                           P a y P a l \n 2                 C r e d i t   C a r d \n 3                               C a s h \n 4                           P a y P a l \n                         . . .           \n 5 5 9 1 6         C r e d i t   C a r d \n 5 5 9 1 7         C r e d i t   C a r d \n 5 5 9 1 8                   P a y P a l \n 5 5 9 1 9         C r e d i t   C a r d \n 5 5 9 2 0                   P a y P a l \n N a m e :   P a y m e n t _ M e t h o d ,   L e n g t h :   5 5 9 2 1 ,   d t y p e :   o b j e c t 0                 3 1 \n 1                 3 1 \n 2                 3 1 \n 3                 3 1 \n 4                 3 1 \n                   . . \n 5 5 9 1 6         5 9 \n 5 5 9 1 7         5 9 \n 5 5 9 1 8         5 9 \n 5 5 9 1 9         5 9 \n 5 5 9 2 0         5 9 \n N a m e :   A g e ,   L e n g t h :   5 5 9 2 1 ,   d t y p e :   i n t 6 4 0                 F e m a l e \n 1                 F e m a l e \n 2                 F e m a l e \n 3                 F e m a l e \n 4                 F e m a l e \n                     . . .     \n 5 5 9 1 6             M a l e \n 5 5 9 1 7             M a l e \n 5 5 9 1 8             M a l e \n 5 5 9 1 9             M a l e \n 5 5 9 2 0             M a l e \n N a m e :   G e n d e r ,   L e n g t h :   5 5 9 2 1 ,   d t y p e :   o b j e c t 0                 1 0 0 0 0 0 0 \n 1                   1 5 0 0 0 0 \n 2                   1 5 0 0 0 0 \n 3                   4 7 5 0 0 0 \n 4                   5 0 0 0 0 0 \n                     . . .       \n 5 5 9 1 6           2 0 0 0 0 0 \n 5 5 9 1 7           1 5 0 0 0 0 \n 5 5 9 1 8           5 7 5 0 0 0 \n 5 5 9 1 9         1 2 3 5 0 0 0 \n 5 5 9 2 0                     1 \n N a m e :   I n c o m e ,   L e n g t h :   5 5 9 2 1 ,   d t y p e :   i n t 6 4'

In [ ]:
newdata_df['tags']=newdata_df['tags'].apply(lambda x:x.lower())

<ipython-input-14-65302b65946a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdata_df['tags']=newdata_df['tags'].apply(lambda x:x.lower())

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=500000, stop_words='english')

In [ ]:
cv.fit_transform(dataset_df['tags']).toarray()

array([[4, 3, 4, ..., 1, 1, 1],
       [4, 3, 4, ..., 1, 1, 1],
       [4, 3, 4, ..., 1, 1, 1],
       ...,
       [4, 3, 4, ..., 1, 1, 1],
       [4, 3, 4, ..., 1, 1, 1],
       [4, 3, 4, ..., 1, 1, 1]])

In [ ]:
vectors = cv.fit_transform(dataset_df['tags']).toarray()

In [ ]:
len(cv.get_feature_names())

In [ ]:
import nltk
from nltk.stem.porter import PorterStemmer
ps= PorterStemmer()

In [ ]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [ ]:
dataset_df["tags"]=dataset_df["tags"].apply(stem)

NameError: ignored

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
cosine_similarity(vectors).shape

In [ ]:
similarity = cosine_similarity(vectors)

In [ ]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

In [ ]:
def recommend(Product_Category):
    product_index=dataset_df[dataset_df['Product_Category']==Product_Category].index[0]
    distances=similarity[product_index]
    products=sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]

    for i in products:
        print(dataset_df.iloc[i[0]].Product_Category)

In [ ]:
recommend('Home')